    <footer class="footer">
      <div class="icon-arrow"></div>
      <div class="container-links">
        <nav class="menu">
          <ul>
            <li><a class="link-menu" href="https://adalab.es">Articles</a></li>
            <li><a class="link-menu" href="https://adalab.es">Books</a></li> 
            <li><a class="link-menu" href="https://adalab.es">Events</a></li> 
            <li><a class="link-menu" href="https://adalab.es">Reasons</a></li> 
            <li><a class="link-menu" href="https://adalab.es">Tips</a></li>        
          </ul>
        </nav>
        <nav class="socialmedia">
          <ul>
              <li><a class="link-socialmedia" href="https://adalab.es">Twitter</a></li>
              <li><a class="link-socialmedia" href="https://adalab.es">Instagram</a></li>
              <li><a class="link-socialmedia" href="https://adalab.es">Mastodon.social</a></li>
          </ul>
        </nav>
      </div>
      <div class=legal>
       <small class="copy" >&#169 2021
      </small> 
      <aside>We <i class="fas fa-heart"></i> components</aside>
    </div>
    </footer>