<main class="main">
  <section class="tips">
    <h2 class="title-tips">Insomnia Tips</h2>
    <h3 class="subtitle-tips">Looking Through A Window</h3>
    <p class="text-tips">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <a class="go-tips" href="https://adalab.es">
      <span class="linkicon-go">Go</span>
    </a>
  </section>

  <div class="reasons-wrapper">
    <section class="reasons" id="link-main">
      <h2 class="title-reasons">3 Reasons To Purchase</h2>
      <article class="article-reasons">
        <h3 class="subtitle-reasons">Ut sed metus</h3>
        <p class="text-reasons">Lorem ipsum dolor sit amet, consectetur.</p>
      </article>
      <article class="article-reasons">
        <h3 class="subtitle-reasons">Curabitur ac erat</h3>
        <p class="text-reasons">Mauris mattis urna quis lorem molestie.</p>
      </article>
      <article class="article-reasons">
        <h3 class="subtitle-reasons">Morbi dictum</h3>
        <p class="text-reasons">Aliquam in dolor et dolor tincidunt.</p>
      </article>
      <button class="more-reasons">
        <a class="link-morereasons" href="https://adalab.es">More reasons</a>
      </button>
    </section>
  </div>
</main>
