.header {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}
.menu-hero {
  display: absolute;
  position: fixed;
  left: 0;
  top: 0;
  background-color: $CeruleanBlue;
  background-image: url("../images/ico-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 44px;
}

.text-container {
  margin-bottom: 53px;
}

.text-hero {
  font-family: "Roboto", sans-serif;
  color: $White;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 153px;
}

.title-hero {
  font-family: "Roboto Slab", serif;
  color: $White;
  font-weight: bold;
  font-size: 45px;
  text-transform: uppercase;
  word-spacing: 100vw;
}

.icon-down {
  position: absolute;
  border-radius: 45px;
  background-color: $White;
  background-image: url("../images/ico-scroll-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 45px;
  height: 45px;
  margin-bottom: 53px;
}
